apiVersion: v1
kind: Pod
metadata:
  name: {{ app_name }}-%ITEM
  labels:
    app.kubernetes.io/name: {{ app_name }}-%ITEM
spec:
  containers:
  - name: {{ app_name }}
    image: {{ image }}
    ports:
      - containerPort: 25565
        name: server-port
    imagePullPolicy: Always
    resources:
      requests:
        memory: "{{ memory_req }}Mi"
        cpu: {{ cpu_req }}
    env:
    - name: EULA
      value: "true"
    - name: ONLINE_MODE
      value: "false"
    - name: VERSION
      value: "1.19"
    - name: MODE
      value: "creative"
    - name: LEVEL_TYPE
      value: "minecraft:flat"
    - name: GENERATE_STRUCTURES
      value: "false"
    - name: SPAWN_MONSTERS
      value: "false"
    - name: SPAWN_NPCS
      value: "false"
    - name: OPS
      value: "Linu_x"

---
apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}-service-%ITEM
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: {{ app_name }}-%ITEM
  ports:
  - name: server-service-port
    port: 25565
    nodePort: 3000%ITEM
    targetPort: server-port