{
  "include": [
    "configuration/tests/**",
    "configuration/cellular_network/bench_cloud_4g.cfg",
    "configuration/cellular_network/bench_edge_5g.cfg"
  ],
  "exclude": [
    "configuration/experiment_kata/**",
    "configuration/experiment_control/microbenchmark/**",
    "**/*template*.cfg"
  ]
}

